.header{
	width:100%;
	height: 80px;
    background-color: transparent;
    padding: 5px;
}

.customRow{
    display: flex;
    justify-content: space-between;
}
 /* .postSection{
    display: flex;
    align-items: center;
    justify-content: center;
 } */

 .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
 .allPosts,.createPost{
    border: 0px;
    background-color: yellow;
    padding: 10px 20px;
    margin: 10px;
 }

body{
	margin:0px;
	padding:0px;
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
    background-size: cover;

}
.custombutton{
    display: flex;
    align-items: center;
    justify-content: end;
}

.signUp{
    margin: 20px;
    border: 0px;
    background-color: blue;
    color: white;
    padding: 10px 20px;
}

.signIn{
    margin: 20px 20px 20px 0px;
    border: 0px;
    background-color: blue;
    color: white;
    padding: 10px 20px;
}

.logo{
	color:blue;
	font-size:25px;
	font-family: 'Montez', cursive; 
    margin:0px;
	line-height:50px;
	padding-left:9px;
}

.subLogo{
    margin: 0px;
    padding-left: 10px;
    font-size: 15px;
    font-family: 'Ubuntu Mono'; 
}

/* .overlay{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0%;
    z-index: -1;

} */
.signUpForm h1 {
    text-align: center;
}

.signUpForm span {
    display: flex;
    align-items: end;
    justify-content: end;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signUpForm{
    background-color: white;
}

.submit-btn {
    background-color: orange;
    color: #fff;
    padding: 2%;
    font-size: 22px;
    margin-top: 10px;
    border: 0;
    cursor: pointer;
}

input {
    padding: 2%;
}

form label{
    font-size: 20px;
    margin: 10px 0;
}
.modal-body{
    margin: 0px;
    padding: 0px 10px 40px 10px;
}

.CustomBtn{
    margin: 40px 0 0 0;
}
.CustomSignup{
    background-color: transparent;
    border: 0px;
    color: blue;
}
.createBtn{
    padding: 10px 20px;
    margin: 10px;
}


